h1{
    background-color: aquamarine;
    padding: 30px;
    font-size: 40px;
}
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

a{
    text-decoration: none;
    padding: 30px;
    background-color: teal;
    color: white;
    float: left;
    box-sizing: border-box;
    border: 7px solid white;
}
.contenido{
box-sizing: border-box;
border: 1px solid black;
margin-top: 10%;
font-size: 20px;
width: 800px;

}

.editar{
    background-color: rgb(127, 240, 14);
}

.borrar{
    background-color: rgb(252, 49, 90);
}
#modalCliente{
    box-sizing: border-box;
    border: 3px solid rgb(52, 90, 92);
    background-color: cadetblue;
    text-align: center;
    width: 800px;
    height: 500px;
    position: absolute;
    left: 30%;
    top: 30%;
    z-index: 10;
}
input{
    margin-bottom: 20px;
    margin-left: 25px;
}
 table{
     text-align: left;
 }
 td{
     text-align: left;
 }
#crear{
    margin-top: 10%;

}